%h1 Ufoods
%p What do you feel like tonight?
- @categories.each do |category|
  %h5= category.name
  %p= category.description
= link_to 'My Thai', restaurants_path
- @restaurants.each do |restaurant|
  %h5= restaurant.name
  %p= restaurant.address
