.container
  #categories
    %h1
      What do you feel like tonight?
    = image_tag 'wheat', class: 'style_front_image'
    - if @collection.any?
      - @collection.each do |category, restaurants|
        .row
          - @categories.each do |category|
            .col-sm-4
              %h3
                = category.name
              %p
                = category.description
        .row
          - restaurants.each do |restaurant|
            = link_to restaurant.name, restaurant_path(restaurant)
            %p
              = restaurant.address
    - else
    .temp_box2#restaurant-list
      %h2 Getting your location...

  #map{style: 'width: 100%; height: 400px', data: {test: {env: "#{Rails.env.test?}"}}}

  .logo
    Thanks for ordering from us!
    = image_tag 'ufood-logo', class: 'logo_pic'

