- if @cart
  Cart:
  = @cart.total_unique_items
  (
  = link_to "Show cart" , cart_path(@cart)
  )
.br
.btn
  %p
  = link_to @restaurant.name, root_path, class: 'btn btn-primary'
  %p= @restaurant.address
  %p= @restaurant.description
.br
.btn-group
  - @category.each do |section|
    = link_to section.name, restaurant_path(dish_category_id: section.id), class: 'btn btn-secondary'
.br
  - if @current_dish_category
    - @current_dish_category.dishes.each do |dish|
      %div{id: dish.name}
        %p Dish:
        = dish.name
        %p Description:
        = dish.description
        %p Price:
        = dish.price
        $
        .br
        %img{alt: dish.name, src: dish.pic_url}/
        = form_tag add_to_cart_path(dish, restaurant_id: @restaurant.id), method: :get do
          = text_field_tag :amount
          = submit_tag "Add #{dish.name} to cart"
        - if @cart && !@cart.shopping_cart_items.empty? && @cart.shopping_cart_items[0].item_id == dish.id
          = link_to "Remove #{dish.name} from cart", cart_remove_item_path(dish, restaurant_id: @restaurant.id, dish_id: dish.id), class: 'btn btn-secondary'
